/*   
Theme Name: Aristotle
Theme URI: http://www.greengraphics.com.au/
Description: Nice theme. 
Author: Nathan
Author URI: http://www.greengraphics.com.au/
Version: 1.0.2
*/

html, body {margin:0;padding:0; height: 100%; box-sizing: border-box;}

html *,
body * {
	box-sizing: inherit;
}

body {
	background:#d2d5db;
	font-size:62.5%;
	font-weight:400;
	font-family:'NexaRegular', Helvetica, Sans-Serif;
	color:#314756;
	overflow-x: hidden;
	}

p {margin:0 0 1.6em 0; font-size:1.3em; line-height:1.6em;}

a {text-decoration:none; color:#3d9fbc;}
a:hover {color:#314756; text-decoration:none;}

hr {height:8px; background:#314756; border-radius:8px; margin:2.4em 0 3.8em 0;}

img {border:0; max-width:100%; height:auto;}
iframe {max-width:100%;}

.alignleft {float:left;}
.alignright {float:right;}
.aligncenter {text-align:center;}

:focus, :active {outline:none;}

.clearer:after {display:block; visibility:hidden; height:0; clear:both; content:'.';}

.moretag {display:block;
	margin-top: 2em;
    padding: 0.8em 1.8em 0.6em 1.8em;
    font-size: 1.1em;
    background: #314756;
    border-radius: 3px;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.moretag:hover {background: #3d9fbc;color: #fff;}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {
	padding: 0;
	margin:0 0 2.4em 0;
	color:#314756;
	font-family:'Roboto Slab', Helvetica, Sans-Serif;
}
h1 {font-weight:300; font-size:2.5em; text-transform:none;}
h2 {font-weight:400; font-size:1.7em; margin:0 0 1.6em 0;}
h3 {font-family:'Nexa-Bold'; font-weight:500; font-size:1.4em; margin:0 0 1.6em 0;}
h4 {font-family:'NexaRegular'; font-size:1.8em; font-weight:400;}
h5 {font-family:'NexaRegular'; font-size:1.8em; margin:0 0 0 0;font-weight:300;}
h6 {font-family:'Roboto Slab', Helvetica, Sans-Serif; font-size:1.4em; margin:0 0 0 0;}

strong, b {font-family:'NexaHeavy'; font-size:1.1em;}
i {font-size:1.4em;}

.wrapper {
	margin: 0px auto;
	padding: 0;
}


.content ul{font-size: 1.3em; line-height: 1.4em;}

.narrow{width:70%; margin: 7px auto; text-align: center;}


/***********************
***** HEADER STUFF *****
***********************/
header {max-width: 960px;
    margin: 0 auto;}

#logo {
    display: block;
    float: left;
    padding: 15px 16px; 
    width: 300px;
}

svg {
    display: block;
    height: auto;
    max-width: 100%;
}
#logo svg {
    max-height: 60px;    
}

nav.main-menu {float:right;}

#menu-bit {display:none;}
.menu-main-container ul {margin:0; padding:3.15em 0em; list-style-type:none;}
.menu-main-container ul:after {display:block; visibility:hidden; height:0; content:'.'; clear: both;}
.menu-main-container ul li {float:left; margin-right:1px;}
.menu-main-container ul li a {display:block; padding:0.4em 0.7em 0; color:#314756; text-transform:uppercase; font-size:1.25em; font-family:'NexaRegular'; border-radius:2px; font-weight: 800;}
.menu-main-container ul li:hover a,
.menu-main-container ul li.current_page_item a,
.menu-main-container ul li.current_page_parent a {background:#fff; color:#314756; text-decoration:none;}

@media screen and (max-width:940px) {
	header {padding:2em 2em 0 2em; text-align:center;}
	header #logo {float:none;}
	header nav.main-menu {float:none;}
	header .menu-main-container ul li {float:none; display:inline-block; margin:2px 1px;}
}


.swin{
    height: 132px;
    position: relative;
    z-index: 999999;
}

.metaslider.nav-hidden .flexslider {
    margin-bottom: 0;
    margin-top: -180px !important;
}

.metaslider .caption-wrap {
    position: absolute;
    top: 30% !important;
    background: transparent !important;
    color: white;
    opacity: 1 !important;
    margin: 0;
    display: block;
    line-height: 1.4 !important;
    text-align: center !important;
    padding: 0 25% !important;
}

.metaslider .caption {
    font-family: 'roboto slab';
    font-size: 25px;
    font-weight: 300;
}


.metaslider .caption .size-one   {font-family: 'Nexa-Bold'; font-size: 18px; line-height:24px;}
.metaslider .caption .size-two {font-size: 40px; line-height:41px;}

/***********************
***** BODY STUFF *******
***********************/
section {background:white; position:relative;}

section .metaslider .flexslider .slides .caption-wrap {background:rgba(0,0,0,0.3); padding:2.4em; opacity:1;}
section .metaslider .flexslider .slides .caption-wrap .caption {font-size:1.8em; line-height:1.4em; font-family:'Roboto Slab'; font-weight:400; text-transform:uppercase; text-align:center;}


article {padding:3.8em 15%;}
article h1 {text-align:center;}
article.before-content,
article.home-before-content {text-align:center; background-color:#fff; background-repeat:no-repeat; background-position:center top; background-size:cover; padding-top: 8em;padding-bottom:8em; background-position: center 84%;}
article.before-content p {font-size:2.0em; line-height: 1.3em; font-weight:300; font-family:'NexaRegular'; color: #fff;}
article.before-content h1 {color: #fff;}


.home article.content {background:#f2f1f1; padding-top:5em; padding-bottom:5em;}


article.before-content h1 {margin: 0 0 1.6em 0;}
	
article.home-before-content ul {list-style-type:none; margin:0; padding:0;}
article.home-before-content ul li {width:33.33%; float:left; padding:0 1.7em 1em 1.7em;}
article.home-before-content ul li img {margin:2em 0 2.4em 0; height:90px;}

article.home-before-content .home-button-container {width:33.33%; float:left; padding:0 1em;}
article.home-before-content .home-button-container:first-of-type {clear:left;}
article.home-before-content ul a.home-button {margin:0 auto; padding: 1em 2.2em 0.8em 2.2em;   font-size: 1.3em; background:#314756; border-radius:3px; color: #fff;}
a.progs-button {margin:16px auto; padding: 1em 2.2em 0.8em 2.2em;   font-size: 1.1em; background:#314756; border-radius:3px; color: #fff;}

article.home-before-content ul a.home-button:hover, a.progs-button:hover {background:#3d9fbc; color:white;}

.page-id-12 article {background:#d4e9da;} /* TEAM MEMBERS BACKGROUND */
.page-id-12 article h1 {text-align:left; margin:0 0 1.6em 0;}
.team-portrait {border-radius:4px;}


.one_half {width:50%; float:left; padding:0 2em 0 0; margin:0 0 3.8em 0;}
.one_half.last_column {padding:0 0 0 2em;}
.three_quarters {width:75%; float:left; padding:0 1em 0 0; margin:0 0 3.8em 0;}
.one_quarter {width:25%; float:left; padding:0 0 0 1em; margin:0 0 3.8em 0;}

.column-clear {width:100%; height:8px; background:#f5f6f6; border-radius:0px; margin:4.8em auto; clear:both;}
/* div.column-clear.clearer:last-of-type {height:0px !important;} */
.column-clear:last-of-type {
    height: 0;
    margin: 0;
}
.page-id-12 article .column-clear {background:rgba(255,255,255,0.5);}


.paginate {font-size:1.4em; padding:2.4em 0 0 0; clear:both; font-family:'NexaHeavy';}
.paginate a {color:white;}
.paginate a:hover {color:#314756;}
.paginate span, .paginate a {display:inline-block; padding:0 0.5em;}




.content-title, .full_width p {text-align: center;}
.content-title h2 {font-weight:300; font-size:2.4em; margin: 0 0 .4em 0;}


.page-id-9 b, .page-id-9 h3{color: #ee8472;}

.page-id-10 b, .page-id-10 h3{color:#3d9fbc;}


.center-divider {border-right: 4px solid #3d9fbc; font-size: 1.3em;
    line-height: 1.6em;}
    
.butt-bg   {display:block; font-family:'NexaHeavy'; padding: 8px 15px 4px; background: #ee8472; color: #fff !important; border-radius: 2px;} 
    
    
#gform_wrapper_1 {display: block !important; margin: 0 auto !important;}    
    
.gform_wrapper textarea, .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 6px 8px !important;
    border-radius: 2px !important;
    letter-spacing: normal !important;
    border: 2px solid #314756  !important;
} 


.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit]	{
	background-color: #314756 !important;
    border: 0 none !important;
    border-radius: 0px !important;
    clear: both;
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 15px !important;
    font-weight: normal;
    height: 40px !important;;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 5px 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    -webkit-appearance:none !important;

}

.gfmsg {margin-top: 27px !important;}
    
/***********************
	
**** PROGRAMS STUFF ****

************************/

span.prep{border: 1.5px solid #dfd668; text-decoration: none; position: relative; display: block; background: #dfd668; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.one{border: 1.5px solid #b5bf52; text-decoration: none; position: relative; display: block; background: #b5bf52; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.two{border: 1.5px solid #5da170; text-decoration: none; position: relative; display: block; background: #5da170; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.three{border: 1.5px solid #5ca99c; text-decoration: none; position: relative; display: block; background: #5ca99c; width: 100%;  padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.four{border: 1.5px solid #22839c; text-decoration: none; position: relative; display: block; background: #22839c; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.five{border: 1.5px solid #166d99; text-decoration: none; position: relative; display: block; background: #166d99; width: 100%; padding: 12px 15px 10px; font-size:14px;  color: #fff; font-weight: 400; border-radius: 2px;}
span.six{border: 1.5px solid #615e99; text-decoration: none; position: relative; display: block; background: #615e99; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.seven{border: 1.5px solid #855279; text-decoration: none; position: relative; display: block; background: #855279; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.eight{border: 1.5px solid #a1334f; text-decoration: none; position: relative; display: block; background: #a1334f; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.nine{border: 1.5px solid #b23b2d; text-decoration: none; position: relative; display: block; background: #b23b2d; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.ten{border: 1.5px solid #d5683b; text-decoration: none; position: relative; display: block; background: #d5683b; width: 100%;  padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}
span.eleventwelve{border: 1.5px solid #dea33f; text-decoration: none; position: relative; display: block; background: #dea33f; width: 100%; padding: 12px 15px 10px; font-size:14px; color: #fff; font-weight: 400; border-radius: 2px;}

span.prep:hover{cursor: pointer; background-color: white; color: #dfd668;}
span.one:hover{cursor: pointer; background-color: white; color: #b5bf52;}
span.two:hover{cursor: pointer; background-color: white; color: #5da170;}
span.three:hover{cursor: pointer; background-color: white; color: #5ca99c;}
span.four:hover{cursor: pointer; background-color: white; color: #22839c;}
span.five:hover{cursor: pointer; background-color: white; color: #166d99;}
span.six:hover{cursor: pointer; background-color: white; color: #615e99;}
span.seven:hover{cursor: pointer; background-color: white; color: #855279;}
span.eight:hover{cursor: pointer; background-color: white; color: #a1334f;}
span.nine:hover{cursor: pointer; background-color: white; color: #b23b2d;}
span.ten:hover{cursor: pointer; background-color: white; color: #d5683b;}
span.eleventwelve:hover{cursor: pointer; background-color: white; color: #dea33f;}

span.prep:hover span.pipe{border-right-color: #dfd668;}
span.one:hover span.pipe{border-right-color: #b5bf52;}
span.two:hover span.pipe{border-right-color: #5da170;}
span.three:hover span.pipe{border-right-color: #5ca99c;}
span.four:hover span.pipe{border-right-color: #22839c;}
span.five:hover span.pipe{border-right-color: #166d99;}
span.six:hover span.pipe{border-right-color: #615e99;}
span.seven:hover span.pipe{border-right-color: #855279;}
span.eight:hover span.pipe{border-right-color: #a1334f;}
span.nine:hover span.pipe{border-right-color: #b23b2d;}
span.ten:hover span.pipe{border-right-color: #d5683b;}
span.eleventwelve:hover span.pipe{border-right-color: #dea33f;}

span.year {
  min-width: 75px;
  display: inline-block;
  margin-right: 20px
}
span.pipe {
  border-right: 1px solid white;
  height: 24px;
  position: absolute;
  top: -1px;
  left: 94px
}

.program-container {
	margin: 10px 0 1.6em 0;
    font-size: 1.3em;
    line-height: 1.6em;
}

.program-popup {
	display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 30px;
    z-index: 1;
    width: 700px;
    max-width: 88%;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.program-button {
    color: white;
    background-color: #314756;
    padding: 12px 22px;
    border-radius: 3px;
    font-size: 13px;
    letter-spacing: 0.5px;
}

.program-button:hover {
	color: white;
}

.program-content {
/* 	font-weight: bold; */
	display: block;
}

.program-title {
	margin-top: -26px;
	font-size: 25px;
	font-weight:600;
	font-family:'NexaRegular', Helvetica, Sans-Serif;
}

.program-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 13px;
    cursor: pointer;
    font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 1;
}


/***********************
**** Team Bios ****
***********************/
.team-bios .one_third {padding-right: 15px;}
.team-bios h3 {margin:0;}
.three_third{width: 33.3%; float:right; padding-left: 15px;}
img.team-portrait {border-radius: 100%;}

/***********************
**** Programs Stuff ****
***********************/
.third-half {
	max-width: 66%;
	width: 100%;
	float: left;
	padding: 6% 10% 6% 6%;
}

.first-half {
	max-width: 33%;
	width: 100%;
	float: left;
	padding: 6% 3%;
}

.module {
	background-color: red;
	display: inline-block;
	color: white;
	font-size: 17px;
    padding: 5px 18px 6px 18px;
    font-family:'Roboto Slab', Helvetica, Sans-Serif;
    font-weight: 300;
    border-radius: 2px;
}
 .module {
 margin-top: 15px; }  
 
.mod-top .module {
 margin-top: 3px;}  
 

    
/***********************
***** LATEST POSTS *****
************************/
article.latest-posts {background:#8fd1b7;}
	

div.latest-posts {float: left;width: 65%;}	
div.post-thumb {float: right; width: 33%; /* background-color: rgba(255,255,255,0.5); */}	
div.latest-posts .moretag {font-size: 1.45em;}
	
	
.latest-posts h2 {margin: 0 0 5px 0;}
article.latest-posts ul {list-style-type:none; padding:0; margin:0;}
article.latest-posts ul li {width:100%; padding: 1.5em; background: rgba(255,255,255,0.5); margin: 1.5em 0;}
article.latest-posts ul li.alignleft {padding: 4em 4em 4em 4em; background: rgba(255,255,255,0.5);}
article.latest-posts ul li.alignright {padding-left:1em;}
article.latest-posts ul li span {font-size:1.4em; text-transform:uppercase; font-family:'Roboto Slab';}


.blog-button {margin:0 auto; padding: 1em 2.2em 0.8em 2.2em;   font-size: 1.1em; background:#fff; border-radius:3px; color: #8fd1b7;}

.blog-button:hover {background:#314756; color: #8fd1b7;}







/***********************
***** POSTS     *****
************************/



.blog-page {
	background-color: white;
}

.blog-item {
	margin-bottom: 30px;
	width: 31%;
	max-width: 31%;
	display: inline-block;
}

.blog-title {
	display: block;
	margin-bottom: 7px;
	font-family: 'NexaHeavy';
}

.blog-description {
	display: block;
	font-family: 'NexaHeavy';
	margin-bottom: 15px;
}

.blog-item .moretag {
	display: inline-block;
	width: unset;
}

.blog-content {
	padding: 50px 20px;
	text-align: center;
	font-size: 12px;
}

.blog-image {
	background-size: cover;
    height: 200px;
    width: 100%;
    background-position: center;
}

.blog-excerpt {
	display: block;
}

.blog-gutter {
	width: 3%
}

.category-list {
	display: block;
}

.categories .category-list {
	font-weight: bold;
}

.categories h1 {
	font-weight: 500;
	margin: 1em 0 .5em 0 !important;
}

.category-list a {
	text-transform: uppercase;
	color: #314756;
	padding: 0 5px;
}

.categories {
	text-align: center;
}

.categories #searchform {
	max-width: 230px;
	display: inline-block!important;
	margin-top: 30px;
}

.paginate {
	padding: 3.8em 15%;
    margin-top: -94px;
}

.paginate a {
	color: #314756;
}



/***********************
***** BLOG SINGLE *****
************************/

.blog article h1 {margin: 1em 0 .5em 0 !important;}

.blog article h2  {font-size: 1.9em; font-weight: 100;}

.blog .content-title{ margin: 0 auto; width: 75%;}
.blog .desc{ margin: 0 auto; width: 85%; font-size:16px; line-height: 17px; font-weight: 500; text-align: center;}

/***********************
***** QUOTES STUFF *****
************************/
article.what-people-say {background:#e5e5e5; padding: 4.8em 21%;}   
article.what-people-say h1 {color:#3d9fbc; text-align:center; margin:0 0 2.4em 0;}
article.what-people-say ul {padding:0; margin:0; list-style-type:none;}
article.what-people-say ul li {float:left; width:90%; padding:0 0.5em;}

/*
article.what-people-say ul li .bubble {
	width:100%; 
	padding:1em; 
	border-radius:8px; 
	background:white;
	margin:0 0 2.2em 0; 
	position:relative;
}
article.what-people-say ul li .bubble:after {
	display:block; 
	content: ' '; 
	height:0; 
	width:0; 
	border-style:solid; 
	border-color:white transparent transparent transparent; 
	border-width:15px; 
	position:absolute; 
	bottom:-30px; 
	left:35px;
}
*/


article.what-people-say .moretag{display: none;}

article.what-people-say ul li .bubble p {margin:0; font-family:'Roboto Slab', Helvetica, Sans-Serif;text-align: center; font-size: 1.5em;}
article.what-people-say ul li .portrait {width:60px; height:auto; border-radius:30px; border:2px solid white; float:left; margin:0 0 0 19px;}
article.what-people-say ul li .person {padding:1.75em 0 0 1em; text-align: center;}
article.what-people-say ul li span {font-size:112%;}
article.what-people-say ul li span.title {text-transform:uppercase;}


article.what-people-say ul li span.position  {display: none;}

/***********************
**** SIDEBAR STUFF *****
***********************/
aside {
	width:25%;
	float:left;
	padding:2em;
	background:#314756;
	color:#ee8472;
	font-size:1.5em;
	text-transform:uppercase;
}
aside h4 {color:#ee8472; margin:1.6em 0; font-family:'NexaRegular'; font-weight:400;}
aside a {color:#ee8472;}
aside a:hover,
aside .current-cat a {color:white;}
aside ul {margin:0; padding:0; list-style-type:none;}
aside ul li {margin:0 0 1.6em 0;}

form#searchform {background:white; border:1px solid #f48474; width:100%; max-width:400px; overflow:hidden; position: relative;}
input#s {	
    border:none;
    color:#555555;
    height: 35px;
    padding: 5px 10px;
    width:100%;
    font-size: 20px;
}

input#searchsubmit {
	position: absolute;
	right:0;
	top:0;
	z-index:1;
    background: url("images/search.png") repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border:none;
    cursor: pointer;
    height:35px;
    width:35px;
    text-indent:-9999px;
}

input#searchsubmit value {
    display:none;
}



.cta {background: #8fd1b7; padding: 3.8em 21% 3.0em 21%; text-align: center; font-size:1.2em; line-height:1.5em; font-weight: 700;}
.cta p{line-height: 1.45em; margin-bottom: 2.5em;}

.page-id-1587 .cta {display: none;}

/***********************
**** FOOTER STUFF ******
***********************/

.footer-contact p {width:45%;}

p.footer-para2 {width:100%;}

.asse {text-align: left;}


.assetel{font-size: 14px;
    line-height: 18px;
    /* display: block; */
    background: #a1d1b4;
    padding: 11px 15px 9px;
    border-radius: 2px;
    color:#314756;
    margin-left: 65px;
    top: -10px;
    position: relative;}


footer .assetel a{color: #314756 !important;}
footer .assetel a:hover{color: #fff !important;}

footer {
	clear:both; 
	width:100%;
	padding:3.8em 15% 1.0em 15%;
	background:#314756;
	color:#a1d1b4;
	background-image: url('images/footer-bg.svg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
}

footer a:hover {
    color: #fff;}




footer h3 {
    color:#a1d1b4;
    font-size: 25px;
    font-family: 'Roboto Slab', Helvetica, Sans-Serif;
    font-weight: 300;
}

footer .footer-contact {float:left; width:55%;}
footer .footer-contact p {float:left; padding-right:2.4em; color:#a1d1b4}
footer .footer-sign-up {float:right; width:45%;}
footer .footer-credits {clear:both;}
footer .footer-credits a {color:#a1d1b4}
footer .footer-credits a:hover {color:#a1d1b4}
.footer-logo {
    width: 260px;
    margin: 1.6em 2.9em 1.6em 0em;
    float:left;
}

.footer-logo2 {padding-top:10px; margin-bottom: 4em;
}


.footer-credits p {font-size:1.2em;}

#mc_embed_signup .mcbutton {
    background-color: #a1d1b4;
    border: 0 none;
    border-radius: 0px;
    clear: both;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 10px 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#mc_embed_signup .mcbutton:hover {
    background-color: #3D9FBC;
        color: #fff;
    }

#mc_embed_signup .mc-field-group input{border-radius:2px;border: 1px solid #FFFFFF; color: #314776;}

#mc_embed_signup #mce-success-response {color: #a1d1b4 !important;}
#mc_embed_signup div#mce-responses {
    padding: 0em !important;
    width: 90% !important;
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 13px !important;
}

.menu-opener {
	width: 30px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    display: none;
}

.menu-opener span {
	border-top: 3px solid black;
    display: block;
    margin-bottom: 5px;
}


.slick-dots {
	text-align: center;
}

ul.slick-dots{
	margin-top: 30px !important;
}

.slick-dots button {
	border: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    width: 14px;
    height: 14px;
    text-indent: -99999999999px;
    cursor: pointer;
}

.slick-dots .slick-active button {
	background-color: rgba(0, 0, 0, 0.8);
}

.slick-dots li {
	width: unset!important;
	float: unset!important;
	display: inline-block;
}

.hover-logo {
	position: absolute;
    z-index: 1;
    right: 15%;
    max-width: 90px;
}



@media screen and (max-width:700px) {
	article.home-before-content ul li {width:100%; float:none; padding:0;}
	article.home-before-content .home-button-container {width:auto; float:none;}
	article.home-before-content .home-button-container a.home-button.button-1,
	article.home-before-content .home-button-container a.home-button.button-2 {display:none;}
	.main .three_quarters h1, .main .one_quarter h1 {text-align:center;}
	.main .three_quarters {width:100%; float:none; padding:0; text-align:center;}
	.main .one_quarter {width:100%; float:none; padding:0; text-align:center;}
	article.latest-posts ul li {width:100%; padding:0 1em; float:none;}
	article.what-people-say ul li {float:none; width:100%; padding:1em 0;}
	footer {text-align:center;}
	footer div.footer-sign-up {float:none; width:100%;}
	footer div.footer-contact {float:none; width:100%;}
	footer div.footer-contact p {float:none; padding:0 1em;}
	footer #mc_embed_signup {margin:0; width:100%;}
	footer #mc_embed_signup form {text-align:center; padding:0;}
	footer #mc_embed_signup form .mc-field-group {width:100%;}
}


@media screen and (max-width: 600px) {
	article.before-content p {font-size: 1.3em;}
	article.before-content h1 {font-size: 2em;}
	article.latest-posts {display: none;}
	article.what-people-say  {padding: 3.8em 10%;}
	.one_fifth, .one_fifth_last, .one_sixth, .one_sixth_last {clear: none !important; width: 50% !important;}
	
	.menu-opener {
		display: block!important;
	}
	
	.menu {
		display: none;
	}
	
	.menu-main-container ul li {
		display: block!important;
		text-align: left;
	}
	
	.menu-main-container ul li a {
		padding: 10px 0.7em;
	}
	
	.sub-menu {
		padding: 0 0 0 10px!important;
		margin-top: -10px;
	}
	
	#logo {
		padding: 0 80px 20px 0!important;
	}
	.one_half.last_column, .one_half {padding: 0em; margin-bottom: 0;}
	article, .cta {padding: 3.8em 6%;}
	footer {background-blend-mode: soft-light; background-position: right bottom;}
	.first-half, .third-half {max-width:100%; padding: 0 0 0 0;}
	footer h1 {margin-bottom: 1.2em;}
	footer {padding: 3.8em 10% 1.0em 10%;}
	.program-title {font-size: 22px; line-height: 25px;}
	.three_third {width: 100%;float: left; padding-left: 0px; margin-top: -28px;}
	.one_third img{padding: 5% 15% 5% 15%;}
	article.what-people-say ul li .bubble p {font-size:1.1em; line-height: 1.35em;}
	ul.slick-dots {display: none !important;}
	.rslides.rslides1 li {width: 250% !important; margin-left: -75% !important;}
	.metaslider .caption-wrap {padding: 0 30% !important;}
	.metaslider .caption {font-size: 18px;}
	.metaslider .caption .size-one   {font-size: 15px; line-height:17px;}
	.metaslider .caption .size-two {font-size: 22px; line-height:24px;}	
	article.before-content{padding-bottom: 5em;}
	#gform_wrapper_1 {display: block !important; max-width: 95%; margin: 0 auto;}    
		
	
	

}


@media screen and (max-width: 768px) {
	.hover-logo {
		display: none;
	}
	
	.blog-item {
		width: 47%!important;
		max-width: 47%!important;
	}
}

@media screen and (max-width: 525px) {
	.blog-item {
		max-width: 100%!important;
		width: 100%!important;
	}
	
	.gutter {
		width: 0% !important;
	}
}



/*
	
	 BLOODY STEF HACKS 
	 
	 
*/

.page-id-1587 section {background:#e2e2e3}

.page-id-1587 h1 {display: none;}

.page-id-1587 h1.showy {display: inherit; text-align: center;}


h3.gform_title {font-weight: 300 !important;
    font-size: 2.5em !important;
    text-transform: none !important;
    font-family: 'Roboto Slab', Helvetica, Sans-Serif  !important;
    margin: 1em 0 1.8em 0 !important;
    text-align: center;}


body .content .gform_wrapper {
    background: #e2e2e3;
}

body .content .gform_wrapper .gform_fields .gfield .gfield_radio li label{
	font-size: 1.1em !important;
    padding: .3em 1.5em .4em  !important;
    text-align: left  !important;
    margin-bottom: 0  !important;
}
body .content .gform_wrapper .gform_fields .gfield .gfield_radio li input[type=radio]{position:absolute;bottom:.4em !important;display:block;font-size:1.5em}

body .content .gform_wrapper .gform_fields .gfield .gfield_radio {
    display: block !important;
}


.gform_wrapper .gfield_radio li {
    margin: 0 0 2px;
}


#gform_page_2_2.gform_page li.gfield {
   border-bottom: 0px solid #fff !important;
}

#gform_page_2_2.gform_page .gform_fields {
    justify-content: center;
}

span.gfield_required {display: none;}






#gform_page_2_2.gform_page  {position: relative;
    /* height: 80%; */
    margin-top: -95px;
    background: #dcebf1;
    /* width: 70%; */
    /* height: 150%; */
}

#gform_page_2_2.gform_page .gform_page_footer, #gform_page_2_1.gform_page .gform_page_footer {
   text-align: center !important;
   }

#gform_page_2_1.gform_page .gform_fields .gfield {width: 100%; margin: 0 auto;}
#gform_page_2_1.gform_page  {
    z-index: 9999999999;
    position: absolute;
    background: #354755;
    background-image: url('images/2-bg.svg') !important;
	background-repeat: no-repeat !important;
    background-position: 50% 56% !important;
    background-size: 133%;
    width: 103%;
/*     height: 350%; */
    padding: 5% 25%;
/*     margin: -264px; */
    color: #fff;
    top: 0;
    left: 0;}
    
#gform_next_button_2_129 {background: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #354755;
    width: initial;}   
    
#gform_next_button_2_129:hover {
   color: #fff !important;}        
    
    /* body .content .gform_wrapper .gform_fields .gfield:first-of-type{width: 30%;} */

/*
#gform_page_2_1.gform_page .gform_fields .gfield:first-of-type,
#gform_page_2_1.gform_page .gform_fields .gfield:nth-of-type(2),
#gform_page_2_1.gform_page .gform_fields .gfield:nth-of-type(3),
#gform_page_2_1.gform_page .gform_fields .gfield:nth-of-type(4),
#gform_page_2_1.gform_page .gform_fields .gfield:nth-of-type(5),
#gform_page_2_1.gform_page .gform_fields .gfield:nth-of-type(6){margin:1em 0!important;padding:0 1em 1em 0;width:30% !important;}
*/

body .gform_wrapper ul li.field_description_below div.ginput_container_radio {
    margin-top: 36px !important;}

.gform_wrapper .gform_page_footer input[type=submit]{
	-webkit-appearance: none;
     margin-bottom: 0;
    font-family: NexaRegular,Helvetica,Sans-serif!important;
    font-weight: 600!important;
	font-size: 1.8em!important;
    line-height: 1.8em!important;    
    background: #81bc59!important;
    padding: 7px 25px!important;
    border: 2px solid #81bc59!important;
    border-radius: 4px!important;
    color: #fff!important;
    width: 25%!important;
    }


.gform_wrapper .gform_page_footer .button.gform_previous_button {
	-webkit-appearance: none;
    margin-bottom: 0;
    /* display: block; */
    font-family: NexaRegular,Helvetica,Sans-serif;
    font-weight: 600;
	font-size: 1.8em;
    line-height: 1.8em;  
    cursor: pointer;
    background: #666;
    padding: 7px 25px;
    border: 2px solid #666;
    border-radius: 4px;
    color: #fff;
    width: 25%;
    margin-right: 12%;
}

.gform_wrapper .gform_page_footer .button.gform_previous_button:hover {background:transparent !important; color:#666 !important;}


 .gform_wrapper .gform_page_footer .button.gform_next_button {
	-webkit-appearance: none;
	margin-bottom: 0;
    font-family: NexaRegular,Helvetica,Sans-serif;
    font-weight: 600;
    font-size: 1.8em;
	line-height: 1.8em;
	cursor: pointer;
    background: #354755;
    padding: 7px 25px;
    border: 2px solid #354755;
    border-radius: 4px;
    color: #fff ;
    width: 25%;
}

.gform_wrapper .gform_page_footer .button.gform_next_button:hover{background: transparent !important; color: #354755 !important;}


.gform_wrapper .gfield_radio li input[type=radio] {
    -webkit-appearance: none !important;
    height: .9em !important;
    position: relative;
    background-color: transparent !important;
    min-width: .9em !important;
    border-radius: 50%;
    border: 2px solid #036493 !important;
    font-size: 14px;
    box-shadow: none !important;
    bottom: 0.9em !important;
}


input[type=radio]:checked:before {
    content: '';
    height: 0.5em;
    width: 0.5em;
    background-color: #354754;
    position: absolute;
    border-radius: 50%;
    top: 0.12em;
    left: 0.12em;
}



/* .page-id-1587 H1 {display: none;} */

/* .page-id-1587 article	{padding: 0 15%;} */

/*
body .content .gform_wrapper {
	margin: 0em calc(50% - 50vw) 0 !important;
    padding: 8em calc(50vw - 50%) !important;
    width: auto;
    max-width: none;}
*/



/* * * * * * * * * * * *
	
****   MEMBERPRESS   ****

* * * * * * * * * * * */


.mepr-login-form-wrap {width: 50%; margin: 0 auto; padding: 2em;}

.button-primary.mepr-share-button {margin:0 auto; padding: 1em 2.8em 1em 2.8em; font-family:'NexaHeavy'; font-size: 1.5em; letter-spacing: 1px; background: #314756; border: 1px solid #314756; border-radius:3px; color: #fff;}

.mp_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 12px 8px 9px!important;
    border-radius: 6px !important;
    letter-spacing: normal !important;
    border: 2px solid #ddd !important;}


.mepr-login-actions, .mp_wrapper .submit {text-align: center;}


.page-id-1587 section {background:#e2e2e3}


.page-id-1587 .main.clearer {background-image: url('images/login-bg.svg') !important;
	background-repeat: no-repeat !important;
    background-position: 53% 56% !important;
    background-color: #e2e2e3;
    background-size: 250%;
	}
	
.page-id-1587.logged-in .main.clearer {background-image: none !important;}

.page-id-1587 H1 {margin-bottom: .2em;}

.page-id-1587 article {
padding: 9em 15%;}

.page-id-1587.logged-in article {
padding: 3.8em 15%;}



body .content .gform_wrapper .gform_fields .gfield:first-of-type,
body .content .gform_wrapper .gform_fields .gfield:nth-of-type(2),
body .content .gform_wrapper .gform_fields .gfield:nth-of-type(3),
body .content .gform_wrapper .gform_fields .gfield:nth-of-type(4),
body .content .gform_wrapper .gform_fields .gfield:nth-of-type(5),
body .content .gform_wrapper .gform_fields .gfield:nth-of-type(6){
	margin:1em 0!important;padding:0 1em 1em 0;width:100%}


#gform_page_2_2.gform_page .gform_fields .gfield:first-of-type,
#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(2),
#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(3),
#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(4),
#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(5),
#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(6){margin:1em 0!important;padding:0 1em 1em 0;width:30% !important;}




/* = = = = = = = = = = = = 
	
	SECTION 1 
	
= = = = = = = = = = = =    */
#gform_2.section-1 .gf_progressbar_percentage {background: no-repeat !important; background-color:#589eb9 !important;}


#gform_2.section-1 .button.gform_previous_button {
	border: 2px solid #589eb9; background: #589eb9; color: #fff;
	}
	
#gform_2.section-1 .gfield_radio li input[type=radio]{
    border: 2px solid #589eb9 !important;
    }

#gform_wrapper_2.section-1_wrapper {background: #dcebf1 !important; }

.page-id-1587.logged-in.form-section-1 .main.clearer {background: #dcebf1;}

/* = = = = = = = = = = = = 
	
	SECTION 2 
	
= = = = = = = = = = = =    */
#gform_2.section-2 .gf_progressbar_percentage {background: no-repeat !important; background-color:#abcfb6 !important;}


#gform_2.section-2 .button.gform_previous_button{
	border: 2px solid #abcfb6; background: #abcfb6;color: #fff;}
	

#gform_2.section-2 .gfield_radio li input[type=radio]{
     border: 2px solid #abcfb6 !important;
    }

#gform_wrapper_2.section-2_wrapper {background: #eef6f0 !important; }

.page-id-1587.form-section-2 .main.clearer {background: #eef6f0;}


/* = = = = = = = = = = = = 
	
	SECTION 3 
	
= = = = = = = = = = = =    */
#gform_2.section-3 .gf_progressbar_percentage {background: no-repeat !important; background-color:#f3e181 !important;}


#gform_2.section-3 .button.gform_previous_button{
		border: 2px solid #f3e181; background: #f3e181;color: #354755;}
	
	
	
#gform_2.section-3 .gfield_radio li input[type=radio] {
     border: 2px solid #f3e181 !important;
    }
#gform_wrapper_2.section-3_wrapper {background: #fdf9e3 !important; }
.page-id-1587.form-section-3 .main.clearer {background: #fdf9e3;}
	
/* = = = = = = = = = = = = 
	
	SECTION 4 
	
= = = = = = = = = = = =    */

#gform_2.section-4 .gf_progressbar_percentage {background: no-repeat !important; background-color:#707172 !important;}

#gform_2.section-4 .button.gform_previous_button{
	border: 2px solid #707172; background: #707172;color: #fff;
	}
	
#gform_2.section-4 .gfield_radio li input[type=radio]  {
    border: 2px solid #707172 !important;
    }

#gform_wrapper_2.section-4_wrapper {background: #e2e2e3 !important; }
.page-id-1587.form-section-4 .main.clearer {background: #e2e2e3;}




a.lo-button {-webkit-appearance: none;
    margin-bottom: 0;
    font-family: NexaRegular,Helvetica,Sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.3em;
    cursor: pointer;
    background: #354755;
    padding: 10px 25px 7px;
    border: 2px solid #354755;
    border-radius: 4px;
    color: #fff;
    width: 25%;}



.gform_wrapper .gform_page_footer {
   border-top: 0px none #e2e2e3 !important;}

.gform_wrapper textarea, .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
    padding: 12px 8px 9px!important;
    border-radius: 6px !important;
    letter-spacing: normal !important;
    border: 2px solid #ddd !important;}
    
    
.gform_wrapper .gf_progressbar_wrapper {
    clear: both;
    width: 90% !important;
    margin: 0 auto !important;
    padding: 0 0 50px !important;
}    
    
    

#gform_2.section-4 .gf_progressbar, .gform_wrapper .gf_progressbar {
    padding: 10px;
    /* position: relative; */
    background-color: transparent !important;
    border-radius: 25px;
    box-shadow: none !important; 
    width: 100%;
}

.gform_wrapper .gf_progressbar_percentage {background: no-repeat !important;}
.gform_wrapper .gf_progressbar_percentage span {display: none !important;}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox], .gform_wrapper ul.gfield_radio li input[type=radio] {
    width: .9em !important; 
}
.gform_wrapper .gf_progressbar {
    padding: 0px !important;
    background-color: rgb(255, 255, 255) !important;}
#gform_2.section-1 .gf_progressbar_percentage.percentbar_1{display: none;}








@media screen and (max-width: 1300px){
	#gform_page_2_1.gform_page  {background-position: 50% 0% !important;  background-size: 133%;}  
	}

@media screen and (max-width: 1000px){
	footer {background-blend-mode: soft-light; background-position: right top; background-size: 120%;}
	}





@media screen and (max-width: 600px){
	.gform_wrapper .gform_page_footer .button.gform_next_button, 
	.gform_wrapper .gform_page_footer .button.gform_previous_button, 
	.gform_wrapper .gform_page_footer input[type=submit] {width:100%;}
	.page-id-1587 H1 {font-size: 1.7em;}
	.gform_wrapper .gf_progressbar_wrapper {width: 100% !important; padding: 0 0 20px !important;}
	#gform_page_2_2.gform_page .gform_fields .gfield:first-of-type,
	#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(2),
	#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(3),
	#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(4),
	#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(5),
	#gform_page_2_2.gform_page .gform_fields .gfield:nth-of-type(6){margin:.5em 0!important;padding:0 1em .5em 0;width:50% !important;}
	.footer-contact p {width:100%;}
	p.footer-para2  {width:100%; text-align: left;}
	#gform_page_2_1.gform_page  {background-position: 70% 0% !important;  background-size: 130%; padding: 5% 10%;}   
	footer {background-blend-mode: soft-light; background-position: right bottom; background-size: 180%;}

}

