@font-face {
    display: swap;
    font-family: 'Nexa-Bold';
    src: url('../fonts/2B15E2_0_0.eot');
    src: url('../fonts/2B15E2_0_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/2B15E2_0_0.woff') format('woff'),
        url('../fonts/2B15E2_0_0.ttf') format('truetype');
}

@font-face {
    display: swap;
    font-family: 'NexaHeavy';
    src: url('../fonts/2B15E2_1_0.eot');
    src: url('../fonts/2B15E2_1_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/2B15E2_1_0.woff') format('woff'),
        url('../fonts/2B15E2_1_0.ttf') format('truetype');
}

@font-face {
    display: swap;
    font-family: 'NexaRegular';
    src: url('../fonts/2B15E2_2_0.eot');
    src: url('../fonts/2B15E2_2_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/2B15E2_2_0.woff') format('woff'),
        url('../fonts/2B15E2_2_0.ttf') format('truetype');
}
